<%- include('./partials/header') %>

    <head>
        <link rel="stylesheet" href="../public/assets/css/basket.css">
        
    </head>

    <body>
        <%- include('./partials/navbar') %>


            <div class="container d-flex justify-content-start align-items-center flex-column">
                <div class="head my-3"><i class="fas fa-shopping-cart"></i> My Basket (<%= person.length %>)
                </div>


                <% for(let i=0; i< person.length; i++) { %>
<div class="card">
    <div class="card-body">
                            <div style="overflow-x:auto; width: inherit;">
                                <table class="table table-borderless table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="top-name">Script</th>
                                            <th scope="col" class="top-name">Strike</th>
                                            <th scope="col" class="top-name">Lot(s)</th>
                                            <th scope="col" class="top-name">Option</th>
                                            <th scope="col" class="top-name">Order</th>
                                            <th scope="col" class="top-name">Type</th>
                                            <th scope="col" class="top-name">SL</th>
                                            <th scope="col" class="top-name">Type</th>
                                            <th scope="col" class="top-name">Entry</th>
                                            <th scope="col" class="top-name">Exit</th>

                                        </tr>
                                    </thead>
                                    <tbody>
        <% for(let j=0; j<person[i].script.length; j++) {%>
            <% if(person[i].script[j] !="" ) {%>
                    <tr>
                    <td class="bottom-name">
                        <%= person[i].script[j] %>
                    </td>

                    <% if(person[i].script[j]=="NIFTY") {%>
                        <td class="bottom-name">
                            <%= person[i].strikeprice[(2*j) + 1] %>
                        </td>

                    <% }else if(person[i].script[j]=="BANKNIFTY"){ %>
                        <td class="bottom-name">
                            <%= person[i].strikeprice[(2*j)] %>
                        </td>
                    <% } %>

                    <% if(person[i].lotsize[j]) {%>
                        <td class="bottom-name">
                            <%= person[i].lotsize[j] %>
                        </td>
                    <% } else {%>

                        <td class="bottom-name">NA</td>
                    <% } %>
                    <% if(person[i].option[j]) {%>
                        <td class="bottom-name">
                            <%= person[i].option[j] %>
                        </td>
                    <% } else {%>

                        <td class="bottom-name">NA</td>
                    <% } %>

                    
                    
                    
                    <% if(person[i].order[j]) {%>
                        <td class="bottom-name">
                        <%= person[i].order[j] %>
                        </td>

                    <% } else {%>

                        <td class="bottom-name">NA</td>
                    <% } %>

                    <% if(person[i].ordertype[j]) {%>
                        <td class="bottom-name">
                            <%= person[i].ordertype[j]%>
                        </td>

                    <% } else {%>
                        <td class="bottom-name">NA
                        </td>
                    <% } %>

                    <% if(person[i].stoploss[j]) {%>
                        <td class="bottom-name">
                            <%= person[i].stoploss[j] %>
                        </td>
                    <% } else {%>
                        <td class="bottom-name">NA</td>
                    <% } %>

                    <% if(person[i].sltype[j]) {%>
                        <td class="bottom-name">
                            <%= person[i].sltype[j] %>
                        </td>
                        <% } else {%>
                            <td class="bottom-name"> NA</td>
                    <% } %>
                    <% if(person[i].entrytime) {%>
                        <td class="bottom-name">
                            <%= person[i].entrytime %>
                        </td>
                        <% } else {%>
                            <td class="bottom-name"> NA</td>
                    <% } %>
                    <% if(person[i].exittime) {%>
                        <td class="bottom-name">
                            <%= person[i].exittime %>
                        </td>
                        <% } else {%>
                            <td class="bottom-name"> NA</td>
                    <% } %>

        
        
                </tr>
            <% } %>
        <% } %>

                                    </tbody>
                                </table>

                            </div>


<div class=" d-flex justify-content-end align-items-end flex-wrap flex-direction-column">

        <div class="icons">
                        <div class="edit mx-2">
                            <a href="/edit/<%= person[i]._id %> "><button href="#" type="submit"
                                    class="btn btn-warning"><i class="far fa-edit"></i></button></a>
                        </div>
                        <div class="delete">
                            <form action="/delete/<%= person[i]._id %>?_method=DELETE" method="POST">
                                <button href="#" type="submit" class="btn btn-danger"><i
                                        class="fas fa-trash-alt"></i></button>
                            </form>
                        </div>
            </div>

</div>


</div>
</div>
                    
            
            <% } %>

 <div class="row proceed d-flex justify-content-center align-items-center">
                    <div class="col-8 d-flex justify-content-center align-items-center ">
                        <form action="/schedule" method="get">
                        <button type="submit"  class="btn btn-success mt-3" style="width: inherit;"><a href="/schedule" ></a>Schedule
                            Trade</button>
</form>                    
</div>
                </div>

</div>
               


                </div>

                <%- include('./partials/footer') %>