<%- include('./partials/header') %>

    <head>
        <link rel="stylesheet" href="../public/assets/css/credentials.css">
        
    </head>

    <body>
        <%- include('./partials/navbar') %>

            <div class="container d-flex justify-content-start align-items-center flex-column mainpage">
            <div class="row d-flex justify-content-start align-items-center flex-column">
                <div class="col-4">
                    <h3 class="display-5 my-3">Configure Key</h3>
                </div>
                <div class="col-4 mt-3">
                    <select name="broker" class="form-control" id="broker" disabled>
                                <option value="">Select your Broker</option>
                                <option value="Zerodha" <%= data[0].broker=='Zerodha' ? 'selected disable' : "" %>>Zerodha</option>
                                <option value="Angel" <%= data[0].broker=='Angel' ? 'selected disable' : "" %>>Angel Broking</option>
                                <option value="AliceBlue" <%= data[0].broker=='AliceBlue' ? 'selected disable' : "" %>>AliceBlue</option>
                                <option value="Fyers" <%= data[0].broker=='Fyers' ? 'selected disable' : "" %>>Fyers</option>
                            </select>
                </div>
                <div class="col-4 ">
                    
                    <div class="mt-3">
                        <label for="apikey" class="form-label">API Key</label>
                        <input type="text" name="apikey" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp"  value="<%= data[0].apikey%>" readonly>
                        <div id="emailHelp" class="form-text">We'll never share your Details with anyone else.</div>
                    </div>

                    <div class="mt-3 mb-4">
                        <label for="apisecret" class="form-label">Secret Key</label>
                        <input type="text" name="secretkey" class="form-control" id="exampleInputPassword1" value="<%= data[0].secretkey%>" readonly>
                    </div>
                    <div> <%= data.apikey%>  </div>
            <form action="/key/delete/<%= data[0]._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-primary">Reset Key</button>
                </form>
                </div>
                

            </div>

            </div>

            <%- include('./partials/footer') %>