<%- include('./partials/header') %>

    <head>
        <link rel="stylesheet" href="../public/css/credentials.css">
    </head>

    <body>
        <%- include('./partials/navbar') %>

            <div class="container d-flex justify-content-start align-items-center flex-column mainpage">

                <h3 class="my-5">Please Provide your API key and Secret Key</h3>
                <form action="/details" method="post">
                    <div class="mb-3">
                        <label for="apikey" class="form-label">API Key</label>
                        <input type="text" name="apikey" class="form-control" id="exampleInputEmail1"
                            aria-describedby="emailHelp" <%= value="data.apikey" %>>
                        <div id="emailHelp" class="form-text">We'll never share your Details with anyone else.</div>
                    </div>

                    <div class="mb-3">
                        <label for="apisecret" class="form-label">Secret Key</label>
                        <input type="text" name="secretkey" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div> <%= data %>  </div>
                    <button type="submit" class="btn btn-primary">Verify</button>
                </form>
                <a href="/select"><button type="submit" class="btn btn-outline-dark mt-3">Back</button></a>
            </div>

            <%- include('./partials/footer') %>