<%- include('./partials/header') %>

    <head>
        <link rel="stylesheet" href="../public/assets/css/edit.css">
        <link rel="stylesheet" href="../public/assets/css/analyze.css">
    </head>

    <body>
        <%- include('./partials/navbar') %>
            <div class="container  d-flex justify-content-center align-items-stretch flex-column">
                <h2 class="edit text-center mb-4 display-5">Edit</h2>
                
            <form action="/edit/<%= person._id %>/?_method=PUT " method="post">
                    <% for(let i=0; i<4; i++){ %>
                    <div class="row">
                        <div class="col-lg-2 my-2 my-lg-0">
                            <!-- <label for="script" class="pb-2"></label> -->
                            <select name="script" class="form-control script">
                                <option value="">Script</option>
                                <option value="NIFTY" <%= person.script[i]=='NIFTY' ? 'selected' : "" %>>NIFTY</option>
                                <option value="BANKNIFTY" <%= person.script[i]=='BANKNIFTY' ? 'selected' : "" %>>BANKNIFTY</option>
                            </select>
                        </div>
                        <div class="col-lg-2 my-2 my-lg-0">
                            <!-- <label for="strikeprice" class="pb-2">Strike Price</label> -->
                            <select name="strikeprice" class="form-control bnstrikeprice ">
                                <option value="" >Strike Price</option>
                                <option value="ATM - 1000" <%= person.strikeprice[(2*i)]=='ATM - 1000' ? 'selected' : "" %>>ATM - 1000</option>
                                <option value="ATM - 900"  <%= person.strikeprice[(2*i)]=='ATM - 900' ? 'selected' : "" %> >ATM - 900</option>
                                <option value="ATM - 800"  <%= person.strikeprice[(2*i)]=='ATM - 800' ? 'selected' : "" %> >ATM - 800</option>
                                <option value="ATM - 700"  <%= person.strikeprice[(2*i)]=='ATM - 700' ? 'selected' : "" %> >ATM - 700</option>
                                <option value="ATM - 600"  <%= person.strikeprice[(2*i)]=='ATM - 600' ? 'selected' : "" %> >ATM - 600</option>
                                <option value="ATM - 500"  <%= person.strikeprice[(2*i)]=='ATM - 500' ? 'selected' : "" %> >ATM - 500</option>
                                <option value="ATM - 400"  <%= person.strikeprice[(2*i)]=='ATM - 400' ? 'selected' : "" %> >ATM - 400</option>
                                <option value="ATM - 300"  <%= person.strikeprice[(2*i)]=='ATM - 300' ? 'selected' : "" %> >ATM - 300</option>
                                <option value="ATM - 200"  <%= person.strikeprice[(2*i)]=='ATM - 200' ? 'selected' : "" %> >ATM - 200</option>
                                <option value="ATM - 100"  <%= person.strikeprice[(2*i)]=='ATM - 100' ? 'selected' : "" %> >ATM - 100</option>
                                <option value="ATM"        <%= person.strikeprice[(2*i)]=='ATM' ? 'selected' : "" %>>ATM</option>
                                <option value="ATM + 100"  <%= person.strikeprice[(2*i)]=='ATM + 100' ? 'selected' : "" %> >ATM + 100</option>
                                <option value="ATM + 200"  <%= person.strikeprice[(2*i)]=='ATM + 200' ? 'selected' : "" %> >ATM + 200</option>
                                <option value="ATM + 300"  <%= person.strikeprice[(2*i)]=='ATM + 300' ? 'selected' : "" %> >ATM + 300</option>
                                <option value="ATM + 400"  <%= person.strikeprice[(2*i)]=='ATM + 400' ? 'selected' : "" %> >ATM + 400</option>
                                <option value="ATM + 500"  <%= person.strikeprice[(2*i)]=='ATM + 500' ? 'selected' : "" %> >ATM + 500</option>
                                <option value="ATM + 600"  <%= person.strikeprice[(2*i)]=='ATM + 600' ? 'selected' : "" %> >ATM + 600</option>
                                <option value="ATM + 700"  <%= person.strikeprice[(2*i)]=='ATM + 700' ? 'selected' : "" %> >ATM + 700</option>
                                <option value="ATM + 800"  <%= person.strikeprice[(2*i)]=='ATM + 800' ? 'selected' : "" %> >ATM + 800</option>
                                <option value="ATM + 900"  <%= person.strikeprice[(2*i)]=='ATM + 900' ? 'selected' : "" %> >ATM + 900</option>
                                <option value="ATM + 1000  <%= person.strikeprice[(2*i)]=='ATM + 1000' ? 'selected' : "" %> ">ATM + 1000</option>
                            </select>
                            <select name="strikeprice" class="form-control niftystrikeprice hide">
                                <option value="" >Strike Price</option>
                                <option value="ATM - 500" <%= person.strikeprice[(2*i)+1]=='ATM - 500' ? 'selected' : "" %>>ATM - 500</option>
                                <option value="ATM - 450" <%= person.strikeprice[(2*i)+1]=='ATM - 450' ? 'selected' : "" %> >ATM - 450</option>
                                <option value="ATM - 400" <%= person.strikeprice[(2*i)+1]=='ATM - 400' ? 'selected' : "" %> >ATM - 400</option>
                                <option value="ATM - 350" <%= person.strikeprice[(2*i)+1]=='ATM - 350' ? 'selected' : "" %> >ATM - 350</option>
                                <option value="ATM - 300" <%= person.strikeprice[(2*i)+1]=='ATM - 300' ? 'selected' : "" %> >ATM - 300</option>
                                <option value="ATM - 250" <%= person.strikeprice[(2*i)+1]=='ATM - 250' ? 'selected' : "" %> >ATM - 250</option>
                                <option value="ATM - 200" <%= person.strikeprice[(2*i)+1]=='ATM - 200' ? 'selected' : "" %> >ATM - 200</option>
                                <option value="ATM - 150" <%= person.strikeprice[(2*i)+1]=='ATM - 150' ? 'selected' : "" %> >ATM - 150</option>
                                <option value="ATM - 100" <%= person.strikeprice[(2*i)+1]=='ATM - 100' ? 'selected' : "" %>>ATM - 100</option>
                                <option value="ATM - 50"  <%= person.strikeprice[(2*i)+1]=='ATM - 50' ? 'selected' : "" %>>ATM - 50</option>
                                <option value="ATM"       <%= person.strikeprice[(2*i)+1]=='ATM' ? 'selected' : "" %>>ATM</option>
                                <option value="ATM + 50"  <%= person.strikeprice[(2*i)+1]=='ATM + 50' ? 'selected' : "" %> >ATM + 50</option>
                                <option value="ATM + 100" <%= person.strikeprice[(2*i)+1]=='ATM + 100' ? 'selected' : "" %> >ATM + 100</option>
                                <option value="ATM + 150" <%= person.strikeprice[(2*i)+1]=='ATM + 150' ? 'selected' : "" %> >ATM + 150</option>
                                <option value="ATM + 200" <%= person.strikeprice[(2*i)+1]=='ATM + 200' ? 'selected' : "" %> >ATM + 200</option>
                                <option value="ATM + 250" <%= person.strikeprice[(2*i)+1]=='ATM + 250' ? 'selected' : "" %> >ATM + 250</option>
                                <option value="ATM + 300" <%= person.strikeprice[(2*i)+1]=='ATM + 300' ? 'selected' : "" %> >ATM + 300</option>
                                <option value="ATM + 350" <%= person.strikeprice[(2*i)+1]=='ATM + 350' ? 'selected' : "" %> >ATM + 350</option>
                                <option value="ATM + 400" <%= person.strikeprice[(2*i)+1]=='ATM + 400' ? 'selected' : "" %> >ATM + 400</option>
                                <option value="ATM + 450" <%= person.strikeprice[(2*i)+1]=='ATM + 450' ? 'selected' : "" %> >ATM + 450</option>
                                <option value="ATM + 500" <%= person.strikeprice[(2*i)+1]=='ATM + 500' ? 'selected' : "" %> >ATM + 500</option>
                            </select>
                        </div>
<div class="col-lg-1 my-2 my-lg-0">
                            <!-- <label for="sltype" class="pb-2"></label> -->
                            <select name="lotsize" class="form-control" id="sltype">
                                <option value="">Lot(s)</option>
                                <option value="1" <%=  person.lotsize[i]=='1' ? 'selected' : "" %>>1</option>
                                <option value="2" <%=  person.lotsize[i]=='2' ? 'selected' : "" %>>2</option>
                                <option value="3" <%=  person.lotsize[i]=='3' ? 'selected' : "" %>>3</option>
                                <option value="4" <%=  person.lotsize[i]=='4' ? 'selected' : "" %>>4</option>
                                <option value="5" <%=  person.lotsize[i]=='5' ? 'selected' : "" %>>5</option>
                                <option value="6" <%=  person.lotsize[i]=='6' ? 'selected' : "" %>>6</option>
                                <option value="7" <%=  person.lotsize[i]=='7' ? 'selected' : "" %>>7</option>
                                <option value="8" <%=  person.lotsize[i]=='8' ? 'selected' : "" %>>8</option>
                                <option value="9" <%=  person.lotsize[i]=='9' ? 'selected' : "" %>>9</option>
                                <option value="10" <%=  person.lotsize[i]=='10' ? 'selected' : "" %>>10</option>
                            </select>
                        </div>
                        <div class="col-lg-1 my-2 my-lg-0">
                            <!-- <label for="option" class="pb-2"></label> -->
                            <select name="option" class="form-control" id="option">
                                <option value="">Type</option>
                                <option value="CE"  <%= person.option[i]=='CE' ? 'selected' : "" %>>CE</option>
                                <option value="PE" <%= person.option[i]=='PE' ? 'selected' : "" %>>PE</option>
                            </select>
                        </div>
                        <div class="col-lg-1 my-2 my-lg-0">
                            <!-- <label for="order" class="pb-2"></label> -->
                            <select name="order" class="form-control" id="order">
                                <option value="">Order</option>
                                <option value="BUY" <%= person.order[i]=='BUY' ? 'selected' : "" %>>BUY</option>
                                <option value="SELL" <%= person.order[i]=='SELL' ? 'selected' : "" %>>SELL</option>
                            </select>
                        </div>
                        <div class="col-lg-2 my-2 my-lg-0">
                            <!-- <label for="ordertype" class="pb-2">/label> -->
                            <select name="ordertype" class="form-control" id="ordertype">
                                <option value="">Order Type</option>
                                <option value="Intraday" <%= person.ordertype[i]=='Intraday' ? 'selected' : "" %>>Intraday</option>
                                <option value="Normal" <%= person.ordertype[i]=='Normal' ? 'selected' : "" %>>Normal</option>
                            </select>
                        </div>
                        <div class="col-lg-2 my-2 my-lg-0">
                            <% if(person.stoploss[i]){ %> 
                            <input type="number" name="stoploss" class="form-control"   value="<%= person.stoploss[i] %>" >
                            
                            <% } else{%>
                               
                            <input type="number" name="stoploss" class="form-control" placeholder="Stoploss" >
            
                            <% } %> 
                        </div>
                        <div class="col-lg-1 my-2 my-lg-0">
                            <!-- <label for="sltype" class="pb-2"></label> -->
                            <select name="sltype" class="form-control" id="sltype">

                                <option value="">SL Type</option>
                                <option value="SL"<%=  person.sltype[i]=='SL' ? 'selected' : "" %>>SL</option>
                                <option value="SL-M" <%= person.sltype[i]=='SL-M' ? 'selected' : "" %>>SL-M</option>
                            </select>
                        </div>


                    </div>
            <% } %> 
                   


                    <div class="row ">
                        <div class="col-lg-3 my-1 my-lg-0">
                            <label for="time" class="my-2">Entry</label><input type="time" name="entrytime" class="form-control"
                                value="<%=  person.entrytime %>">
                        </div>
                        <div class="col-lg-3 my-1 my-lg-0">
                            <label for="time"class="my-2" >Exit</label><input type="time" name="exittime" class="form-control"
                                value="<%=  person.exittime %>">
                        </div>
                       <div class="col-lg-3 mt-4 mb-2 my-lg-0 d-flex justify-content-center">
                            <label for=" sltocost"><input type="radio" id="sltocost" name="sltocost" value="true">
                               <span cla>
                                Move
                                SL to
                                Cost
                                </span>
                            </label>

                        </div>
                    </div>


                    <div class="row mt-5">
                        <div class=" col-lg-6 d-flex justify-content-center ">
                            <button type="submit" class="btn btn-success btn-block w-100 py-3 mt-3">Save Changes</button>
                        </div>
                    </div>


                </form>
                <div class="row mt-1">
                    <div class="col-lg-6  d-flex justify-content-center">
                        <button type="submit" class="btn btn-light py-2 my-2 w-100">Go to My Basket</button>
                    </div>
                </div>
                <div class="d-flex justify-content-start flex-wrap align-items-center">
                    <a href="/basket"><button type="button" class="btn btn-outline-dark mr-3 my-3">Back</button></a>
                    

                </div>
            </div>

            <%- include('./partials/footer') %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
                    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
                <script src="../public/assets/js/analyze.js"></script>